.navbar-brand img {
  max-width: 100%;
  height: auto;
}

body{
  background-color: #FEFCF7;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-toggler-icon {
  background-color: black;
}

.navbar {
  border: none;
}

.navbar-nav .nav-link {
  color: #000000;
}

.btn-signin {
  width: 100%;
}

@media (min-width: 576px) {
  .btn-signin {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .btn-signin {
    width: 60%;
  }
}

@media (min-width: 992px) {
  .btn-signin {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .btn-signin {
    width: 40%;
  }
}

.d-grid {
  background-color: #282A3A;
}

.navbar-brand {
  margin-right: auto;
}

.navbar-toggler {
  margin-left: auto;
}

@media (min-width: 992px) {
  .navbar-brand {
    margin-right: 20px;
  }
}